# Android Studio
.gradle/
.idea/
local.properties
*.iml

# Build and generated
/build/
**/build/
**/bin/
**/gen/

# Application outputs
*.apk
*.ap_

# Dex files
*.dex

# Java class files
*.class

# macOS
.DS_Store

# VSCode
.vscode/

# Release files
/app/release/
*.jar

# Docs or personal files
/doc/
